<!DOCTYPE html>
<html lang="en">
<head>
    <title>Username</title>
</head>
<style>

.full{
    background-color: bisque;
    margin-left: 550px;
}
.one{margin-top: 90px;
color: blueviolet;}
.two{
   margin-top: 35px;
   margin-bottom: 35px;
   color: rgb(135, 50, 215);
}
.three{color:rgb(129, 23, 228)}

</style>
<body class="full">
<h2 class="one">Welcome Admin</h2>


<h4 ><a href="/admin/dashboard" class="two">Go to DashBoard</a></h4>

<h4 ><a href="/admin/queries" class="two">Go to Query DashBoard</a></h4>



<b><a class="three" href="/admin/logout">Logout</a></b>

<% include('../layouts/footer.ejs') %>